{% extends "./include/auth/authLayout.html" %}


{% block content %}

<div class="auth-title auth-part">
    <h1>Pulmo9</h1>
    <h3>Mesure d'impédance Thoraco-Pulmoraire</h3>
</div>

<div class="auth-connectStatus auth-part">
    <img src="../img/bluetooth.png">
    <p id="connectStatus" class="disconnected">Non Connecté</p>
</div>

<div class="auth-footer auth-part">
    <button class="btn" onclick="closeApp()">Quitter</button>
    <a href="#" class="btn" id="connectedBTN" disabled>continuer</a>
    <a href="./Patient/PatientList.html" class="btn">patients</a>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" >

    function closeApp(){
        window.close();
    }

    eel.expose(Auth_setBlDisconnected);
    function Auth_setBlDisconnected() {
        document.getElementById("connectStatus").classList.remove("connected");
        document.getElementById("connectStatus").classList.add("disconnected");
        document.getElementById("connectedBTN").setAttribute("href", "#");
        document.getElementById("connectStatus").innerHTML = "Non Connecté";
    }

    eel.expose(Auth_setBlConnected);
    function Auth_setBlConnected() {
        document.getElementById("connectStatus").innerHTML = "Connecté";
        document.getElementById("connectStatus").classList.add("connected");
        document.getElementById("connectStatus").classList.remove("disconnected");
        document.getElementById("connectedBTN").setAttribute("href", "./login.html");
    }

    
</script>
    
{% endblock %}