<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevAH - Impédance Thoraco-Pulmonaire</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/poumon.png">

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" >
      
    </script>
</head>
<body>
    <div class="container">
        <div class="auth-part">
            {% block content %}
    
            {% endblock %}
        </div>     
    </div>


{% block scripts %}
{% endblock %}

  
</body>
</html>
