@import "variables";

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: $bg2var;
  border-radius: 10px;
}
*{
  scrollbar-color: $bg2var;
  scrollbar-width: thin;
}

html{
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}


#root{
  height: 100vh;
  width: 100vw;
  background-color: $bgmain;
}

/*  Login, Register, delet DR, WaitAuth  */

.auth{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .auth-card{
    border-radius: $border-radius;
    margin: auto auto;
    width: 500px;

    background-color: $bg1;
    padding: 5px;
  }
  .auth-card-header{
    padding: 0 0 10px 0;
    width: 90%;
    margin: 0 auto 10px auto;
    text-align: center;
    border-bottom: 1px $boom solid;
  }
  .auth-card-body{
    max-height: 250px;
    overflow-y: scroll;
  }
  #WaitAuth{
    border-radius: $border-radius;
    width: 90%;
    margin: 40px auto;
    background-color: $bg2;
    img{
      padding: 10px 0;
      width: 80px;
      height: auto;
    }
    h3{
      margin: auto 0;
      font-size: 23px;
    }
    h2{
      margin: auto 0;
    }
  }
  .auth-card-footer{
    padding: 15px 0 0 0;
    width: 90%;
    margin: 20px auto 15px auto;
    border-top: 1px $boom solid;
  }
}

.Layout{
  width: 100vw;
  height: 100vh;
  .Header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $bg2var;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .doctor_name{
      width: 275px;
      background-color: $bg2;
      overflow: hidden;
      button{
        margin: auto 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: $bg1;
        img{
          width: 40px;
          height: auto;
        }
      }
      h3{
        height: min-content;
        margin: auto 0;
        font-size: 20px;
        text-wrap: none;
        width: 175px;
        text-overflow: ellipsis;
      }
    }
    .menu{
      width: 60%;
      height: 100%;
      overflow: hidden;
      background-color: $bg2;
      margin: 0 0 0 auto;
      ul{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;

        li{
          text-align: center;
          height: 100%;
          list-style: none;
          margin: auto 5% auto 5%;
          width: 45%;
          background-color: $bg1;
          display: flex;
          transition: all 300ms;
          a{
            margin: auto auto;
            font-family: 'Baloo 2';
            font-weight: 700;
            font-size: 22px;
            color: $heavytext;
          }
          &:hover{
            background-color: $bg1var;
          }
        }
      }
    }

  }

  .Content{
    padding-top: 70px;
    display: flex;
  }
}

/* Liste des patients */
.PatientList, .MesureList{
  width: 100%;
  height: 100%;
  display: flex;
  .table{
    margin: auto auto;
    .table-header{
      button, a, input{
        margin: auto 10px;
      }
    }
    .table-content{
      width: 100%;
      display: flex;
      table{
        border-radius: 10px;
        background-color: $bg1;
        margin: 10px auto;
      }
    }

  }

}

/* Fiche patient */
.PatientEditor{
  width: 100%;
  height: 100%;
  display: flex;
  .card{
    width: 80%;
    margin: auto auto;
    background-color: $bg1;
    padding: 10px;
    border-radius: $border-radius;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .card-header{
      margin: 0 auto;
      text-align: center;
      width: 80%;
      border-bottom: 1px $boom solid;

    }
    .card-body{
      padding: 0 30px;
      margin: 15px 0;
    }
    .card-footer{
      button{
        margin: auto 0;
      }
    }
  }
}

.Calibration{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  .card {
    max-width: 900px;
    width: 90%;
    margin: auto auto;
    background-color: $bg1;
    border-radius: $border-radius;
    height: 90%;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .card-infos{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 15px 15px 0 15px;
      overflow-y: auto;
      width: 95%;
      .card-infos-title {
        h2 {
          font-size: 26px;
        }

        text-align: center;
        margin: 0 auto 15px auto;
        border-bottom: 1px $boom solid;
        width: 80%;

      }



        .card-infos-content-mode{
          h3{
            text-align: center;
          }
        }


      .card-infos-content-calibration{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn-group{
          margin: auto auto;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
        }

      }
    }
    .avancement{
      width: 5%;
      min-width: 50px;
      margin: 0 5px;
      padding: 0 15px;
      border-right: 1px $boom solid;
      display: flex;
      .avancement-status{
        margin: auto auto;
        display: flex;
        flex-direction: column;
        .avancement-status-point{
          content: " ";
          width: 4vw;
          height: 4vw;
          max-width: 30px;
          max-height: 30px;
          border-radius: 50%;
          margin: 25px auto;
          background-color: $red_light;
          box-shadow: box_glow($red_light, 10px, 5px);
        }
        .active{
          background-color: $green_light;
          box-shadow: box_glow($green_light, 10px, 5px);
        }
        .passed{
          background-color: $disabled;
          box-shadow: none;
        }
      }
    }
  }
}

.MesureData{
  width: 100%;
  height: 100%;
  display: flex;
  .mesure-container{
    width: 80%;
    margin: auto auto;
    background-color: $bg1;
    padding: 10px;
    border-radius: $border-radius;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .mesure-container-title{
      margin: 0 auto;
      text-align: center;
      width: 80%;
      border-bottom: 1px $boom solid;

    }
    .mesure-container-charts{
      width: 100%;
    }
    .mesure-container-footer{

    }
  }
}